/* Основные стили */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Шапка */
header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Навигационное меню */
nav {
    background: #35424a;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline; /* Горизонтальное расположение */
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* Основной контент */
main {
    padding: 20px;
}

/* Таблицы */
table {
    width: 100%;
    border-collapse: collapse; /* Убирает двойные границы */
    margin-bottom: 20px; /* Отступ снизу */
}

table th, table td {
    border: 1px solid #dddddd; /* Граница ячеек */
    text-align: left; /* Выравнивание текста по левому краю */
    padding: 8px; /* Отступы внутри ячеек */
}

table th {
    background-color: #35424a; /* Цвет фона заголовков таблицы */
    color: #ffffff; /* Цвет текста заголовков таблицы */
}

/* Подвал */
footer {
    background-color: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}
