{% extends "analytics/sample.html" %}
{% load static %}
{% block title %}Востребованность{% endblock %}

{% block content %}
<h2>Востребованность</h2>

<h3>Динамика уровня зарплат по годам</h3>
<div style="display: flex;">
    <table>
        <thead>
            <tr>
                <th>Год</th>
                <th>Средняя зарплата</th>
            </tr>
        </thead>
        <tbody>
            {% for item in salary_trends %}
            <tr>
                <td>{{ item.year }}</td>
                <td>{{ item.avg_salary }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <img src="{% static 'img/salary_trend_plot.png' %}" alt="График уровня зарплат" height="700px" style="margin-left: 20px;">
</div>

<h3>Динамика количества вакансий по годам</h3>
<table>
    <thead>
        <tr>
            <th>Год</th>
            <th>Количество вакансий</th>
        </tr>
    </thead>
    <tbody>
        {% for item in vacancy_trends %}
        <tr>
            <td>{{ item.year }}</td>
            <td>{{ item.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
