{% extends "analytics/sample.html" %}
{% load static %}
{% block title %}География{% endblock %}

{% block content %}
<h2>География</h2>

<h3>Уровень зарплат по городам</h3>
<div class="container row">
    <table>
        <thead>
            <tr>
                <th>Город</th>
                <th>Средняя зарплата</th>
            </tr>
        </thead>
        <tbody>
            {% for item in salary_by_area %}
            <tr>
                <td>{{ item.area_name }}</td>
                <td>{{ item.avg_salary }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <img class="plot" src="{% static 'img/salary_by_city_plot.png' %}" alt="График уровня зарплат по городам">
</div>

<h3>Доля вакансий по городам</h3>
<div class="container row">
    <table>
        <thead>
            <tr>
                <th>Город</th>
                <th>Количество вакансий</th>
            </tr>
        </thead>
        <tbody>
            {% for item in vacancies_by_area %}
            <tr>
                <td>{{ item.area_name }}</td>
                <td>{{ item.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}