{% extends "analytics/sample.html" %}
{% load static %}
{% block title %}Главная страница{% endblock %}

{% block content %}
<h2>Описание профессии</h2>
<div class="container">
    <img src="{% static 'img/sis-admin-1.jpg' %}" alt="Системный администратор">
    <p>Системный администратор (сисадмин) — это специалист, отвечающий за настройку, обслуживание и поддержку компьютерных систем и сетевой инфраструктуры в организации. Его основная задача заключается в обеспечении бесперебойной работы серверов, рабочих станций и сетевых устройств. Сисадмин устанавливает и настраивает операционные системы, программное обеспечение и сетевые компоненты, а также следит за безопасностью данных и защитой информации от несанкционированного доступа. Он также отвечает за резервное копирование данных, восстановление системы после сбоев и решение технических проблем пользователей. Важными качествами для успешной работы в этой профессии являются аналитическое мышление, внимание к деталям и способность быстро реагировать на возникающие проблемы. Системные администраторы играют ключевую роль в поддержании IT-инфраструктуры компании, что делает их незаменимыми в современных организациях.</p>
</div>
{% endblock %}
